<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-searchbar placeholder="Buscar..." [(ngModel)]="query"></ion-searchbar>
  </div>
  <ion-list>
    <ng-container *ngFor="let contact of contacts | search: query">
      <ion-item *ngIf="contact.status !== 'Offline'" (click)="goToConversation(contact)">
        {{ contact.name }} - {{contact.status}}
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
