<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <img src="assets/img/logo_live_add.png" class="icon-in-button">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundPlatzinger">
  <ion-grid id="homeMecontainer">
    <ion-row>
      <ion-col col-3>
        <div class="avatarFrameOnline">
          <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
      </ion-col>
      <ion-col col-9 *ngIf="user">
        <h1>{{user.nick || 'Agregue un nick'}}</h1>
        <small>Subnick</small> <br />
        <small><b>{{user.email}}</b></small>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="searchBoxContainer">
    <ion-searchbar placeholder="Buscar..." [(ngModel)]="query" id="searchField"></ion-searchbar>
  </div>
  <div>
    <div>
      <b>Amigos</b>
    </div>
    <ion-list>
      <ng-container *ngFor="let contact of friends | search: query">
        <ion-item (click)="goToConversation(contact)" [ngClass]="{ 'contact-offline': contact.status == 'Offline' || contact.status == 'AppearOffline' }">
        <img src="assets/img/logo_live_{{ contact.status }}.png" alt="Contact status" class="status">
          <b>{{ contact.nick }}</b> - <small *ngIf="contact.status">{{contact.status}}</small>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>


</ion-content>
